.wrap {
    width: 800px;
    height: 480px;
    margin: 50px auto;
    position: relative;
}


/* 슬라이드 */
.section1 .slide {
    width: auto;
    height: 480px;
}

/* 슬라이드 이미지 */
.section1 .slide img { width: 100%; height: 100%; }




/************** 페이지네이션 커스텀 **************/
.section1 .slick-dots li button:before {
    color: #fff;  /* 기본색 */
    font-size: 12px;  /* 동그라미 크기 */
}

/************** 네비게이션 화살표 커스텀 **************/
.section1 .slick-prev, .slick-next {
    width: 32px; 
    height: 32px; 
    z-index: 1; 
    position: absolute;
    top: 50%;  /* 화살표를 슬라이드의 중앙에 위치시킵니다 */
    transform: translateY(-50%); /* 이는 화살표의 중앙을 정확히 슬라이드의 중앙에 맞추기 위한 것입니다 */
}

.section1 .slick-prev {
    background: url(/img/prev.png) no-repeat center; 
    left: -40px;  /* 화살표를 슬라이드의 왼쪽 바깥으로 옮깁니다 */
}

.section1 .slick-next {
    background: url(/img/next.png) no-repeat center;
    right: -40px;  /* 화살표를 슬라이드의 오른쪽 바깥으로 옮깁니다 */
}

.section1 .slick-prev:hover, .slick-next:hover {
    filter: brightness(60%);
}

.section1 .row .slide img {
    width: 100%; /* 이미지의 너비를 100%로 설정하여 컨테이너의 너비에 맞춤 */
}

.section1 .item {
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.section1 .item img { width: 100%; }

.section1 .item p {
    background-color: white; /* 배경색을 하얀색으로 설정 */
    padding: 5px; /* 글자와 배경 사이에 약간의 간격을 줌 */
    height: 200px;
}

